PORT = 3000 -> */Or any port for the App/*
DB_NAME = "cad_decoder_app" / "Your Database Name"
DB_USER = "Your Database Username"
DB_PASSWORD = "Your Database Password"
DB_HOST = "localhost" / "Your Host Link"
DB_PORT = "5433" / "Your Database Port"
DB_DIALECT = "postgres" -> */Don't Edit this/*
NODE_ENV = "production" -> */production or development/*
